node_modules
.git
.github
.env
.env.*
*.log
app/storage/logs
app/storage/internal
app/storage/invoices
app/uploads
tests
deploy
.DS_Store
.vscode
.idea
*.md
.prettierrc.json
.eslintrc.json
ecosystem.config.js
app.config.js
newrelic_agent.log
