{
  "root": true,
  "rules": {
    "no-console": 1,
    "no-unused-vars": 2,
    "no-undef": 2
  },
  "env": {
    "node": true,
    "es2024": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2024,
    "allowImportExportEverywhere": true
  }
}
